/* RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
input, textarea, button{
    outline: none;
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
textarea{
    resize: vertical;
}
button{
    cursor: pointer;
}
label{
    margin-bottom: 0;
}
.border-reset{
    border: none;
}
.btn:focus,
.btn:hover,
.btn:focus:hover,
.btn-default,
.btn-default:focus,
.btn-default:hover{
    outline-color: #edeff1;
}
/* RESET END */
/* DEFAULT CLASSES START */
.btn.btn-default{
    font-family: 'Harmonia_semibold';
    padding: 18px 29px;
}
.btn-default {
    border-color: #ff5912;
}
.btn-default:hover{
    border-color: #ff5912;
    background-color: #ff5912;
    color: #fff;
}
.flex-container{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
.justify-sp-around{
    justify-content: space-around;
}
.orange-text{
    color: #ff5912;
}
.light-gray-text{
    color: #e9ecf3;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.white-bg{
    background-color: #fff;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}

/* DEFAULT CLASSES END */
/* DEFAULT COMPONENT START */
.custom-icon{
    display: inline-block;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}

.subtitle{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 70px;
}
.subtext{
    font-family: 'Harmonia_regular';
    font-size: 16px;
    line-height: 1.8em;
    display: block;
    color: #495662;
}
.default-section{
    padding: 60px 0px;
}
.checkbox-group{
    margin-top: 40px;
    margin-left: 40px;
}
.aside-section-title{
    margin-left: 50px;
}
.checkbox-group input[type="checkbox"]{
   display: none; 
}
.checkbox-group label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
.checkbox-group label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
.checkbox-group input[type="checkbox"]:checked + label{
    color: #ff5912;
}
.checkbox-group input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;
}
.item{
    background-color: #fff;
    padding: 30px 10px;
    transition: all 0.3s linear;
    text-align: center;
    height: 372px;
    position: relative;
}
.item:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.item-card-info{
    font-family: 'Harmonia_bold';
    font-size: 18px;
}
.item-mini{
    background-color: #fff;
    padding: 20px 20px;
    height: 160px;
    text-align: center;
    position: relative;
}
.subscribe-form{
    padding: 37px 42px;
}
.subscribe-input-group{
    margin-right: 30px;
}
.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
}
.subscribe-input{
    color: #7c8791;
    font-size: 14px;
    font-family: 'Harmonia_italic';
    min-width: 255px;
}
header .top-header {
    border-bottom: 1px solid #edeff1;
    padding: 20px  0px;
}
header .bottom-header{
    padding: 42px 0px;
}
.items-carousel {
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
.footer-block{
    height: 140px;
    margin: 60px 0 45px;
}
/* DEFAULT COMPONENT END */
/* ALL STYLES START */
/* HEADER STYLES START */
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px;
}
header .top-header .social-nav a + a{
    margin-left: 20px;
}
header .bottom-header .header-nav{
    margin-left: 80px;
}
header .bottom-header .header-nav li + li{
    margin-left: 40px;
}
header .bottom-header .header-nav a{
    font-size: 16px;
    font-weight: 300;
    color: #495662;
}
header .bottom-header .header-nav a:hover{
    color: #ff5912;

}
header .bottom-header .user-nav{
    margin-left: auto;
    position: relative;
}
header .bottom-header .user-nav li + li{
    margin-left: 30px;
}
header .bottom-header .user-nav .circle-count{
    display: inline-block;
    position: absolute;
    color: #fff;
    line-height: 20px;
    background-color: #34404b;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    top: -22px;
    right: 2px;
}
.icon-search-ic:hover{
    background-position: -81px 0px;
}
.icon-user-ic:hover{
    background-position: 0px -59px;
}
.icon-cart-ic:hover{
    background-position: -20px -59px;
}
/* HEADER STYLES END */
/* MAIN STYLES START */
/* item-carousel styles start */
.item-flexslider{
    position:relative;
}
.text-item span{
    line-height: 30px;
    margin-bottom: 15px;
}
.text-item p{
    padding-bottom: 60px;
}
.price-wrapper{
    font: 600 18px "Harmonia_regular", sans-serif;
}
.price-wrapper ul li + li{
    margin-left: 30px;
}
/* item-carousel styles end */
/* new-item start */
.new-item-subtext{
    margin-bottom: 80px;
}
.item-description{
    padding: 0px 40px;
}
.item:hover .item-title{
    color: #ff5912;
}
.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    margin-top: 30px;
}
.item .item-price{
    margin-top: 30px;
}
.item:hover .item-price{
    display: none;
}
.item .item-img{
    transition: all 0.3s linear;
    margin-bottom: 30px;
    height: 216px;
}
.item .item-img img{
    max-height: 100%;
}
.item:hover .item-img{
    height:  90px;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s linear;
    width: 100%;
    padding: 0px 50px;
}
.item:hover .more-info-on-hover{
    opacity: 1;
}
.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
.icon-share-ic:hover{
    background-position: -44px -59px;
}
.icon-add-to-cart-ic:hover{
    background-position: 0px -38px;
}
.icon-like-ic:hover{
    background-position: -38px -80px;
}
/* new-item end */
/* load-more start */
.load-more{
    padding-top: 26px;
    padding-bottom: 26px;
    text-align: center;
    background-color: #fff;
    margin-top: 80px;
}
.circle {
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: #ff5912;
    border-radius: 50%;
}
/* load-more end */
/* winner-kit start */
.winner-kit-left {
    padding: 10px 60px;
}
.sale-block{
    position: relative;
}
.sale-block > div{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sale-block div:first-child{
    transform: rotate(-45deg);
}
.sale-block div:last-child{
    transform: rotate(45deg);
    position: absolute;
    left:0;
}
.sales-value{
    color: #fff;
    position: absolute;
    flex-direction: column;
    margin-left: 6px;
}
.sales-value span:first-child{
    font-family: 'Harmonia_italic';
    font-size: 12px;
}
.sales-value span:last-child{
    font-family: 'Harmonia_black';
    font-size: 18px;
    top: 0;
}
.sale-text-title{
    display: block;
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 22px;
    color: #34404b;
}
.sale-text-subtitle{
    font-family: 'Harmonia_regular';
    font-size: 12px;
    line-height: 2.5em;
    color: #495662;
}
.sale-price-section{
    font-family: 'Harmonia_black';
    font-size: 32px;
}
.winner-kit-right {
    text-align: center;
    flex-direction: column;
    padding: 10px 60px;
}
.kit-right-text{
    font:16px "Harmonia_regular", sans-serif;
}
.kit-size {
padding-top: 15px;
}
.kit-size span{
    letter-spacing: 0.6em;
}
/* winner-kit end */
/* best-sales start */
.best-sales-subtext{
    margin-bottom: 80px;
}
.item-mini-img {
    padding: 0px 20px;
}
.item-mini-info{
    position: relative;
}
.item-mini-title{
    font-family: 'Harmonia_bold';
    margin: 20px 0px 35px;
}
.item-mini-description{
    padding-left: 20px;
    height: 118px;
}
.flex-container:active{
    color: #ff5912;
}
.item-mini:hover .item-mini-stars{
    display: none;
}
.item-mini:hover .item-mini-price{
    display: none;
}
.item-mini-stars{
    font-size: 16px;
}
.item-mini-price{
    font-family: 'Harmonia_bold';
    font-size: 16px;
}
.add-to-cart-hover{
    position: absolute;
    opacity: 0;
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;

}
.item-mini:hover .add-to-cart-hover{
    opacity: 1;
}
/* best-sales start  */
/* subscribe start */
.subscribe-description-title{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 25px;
}
.subscribe-description-text{
    font-family: 'Harmonia_italic';
    font-size: 14px;
}
.subscribe-form form>button.join-us{
    font-size: 14px;
    border-radius: 0;
}
/* subscribe end */
/* FOOTER STYLES START */
.footerLogo-block{
    margin-right: auto;
}
.footerLogo-img{
    margin: 10px 0;
}
.copyRight-info{
    font-family: 'Harmonia_regular';
    font-size: 14px;
    line-height: 2.1em;
    color: #28313b;
}
.footerMenu{
    flex-direction: column;
    max-height: 90px;
    width: 568px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footerMenu ul {
    flex-wrap: wrap;
    max-width: 568px;
    max-height: 138px;
}
.footerMenu span{
    font-family: 'Harmonia_regular';
    line-height: 2em;
    font-size: 14px;
    color: #28313b;
}
.footerMenu span::before{
    content: '';
    display: inline-block;
    height: 2px;
    width: 2px;
    border: 2px solid #28313b;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 1px;
}
.footerMenu span:hover,
.footerMenu span:hover::before{
    color: #ff5912;
    border-color: #ff5912;
}
.payment-title{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    line-height: 1.8em;
    color: #ff5912;
    margin-bottom: 20px;
}
.footerPayment-block ul li + li{
    margin-left: 8px;
}
/* FOOTER STYLES END*/
/* CATEGORY STYLES START */
/* category-wrap start */
.category-wrap{
    padding-top: 128px;
}
.category-section{
 margin-left: 45px;
}
.category-box li span{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    line-height: 50px;
}
.category-wrap .item{
    margin-bottom: 30px;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-family: 'Harmonia_black';
    font-size: 18px;
    color: #ff5912;
    margin-bottom: 35px;
}
.range{
    margin-top: 40px;
}
.min-value, .max-value{
    position: absolute;
    top: -25px;
    font-size: 14px;
    color: #34404b;
    font-family: 'Harmonia_semibold';
    transform: translateX(-50%);
    left: 50%;
}
.ui-slider-horizontal {
    height: .4em;
}
.ui-widget {
    font-size: .8em;
}
.ui-slider-horizontal .ui-slider-handle{
    top: -0.4em;
}
.ui-widget.ui-widget-content{
    background-color: #edf0f2;
    border: none;
}
.ui-slider .ui-slider-handle{
    border-radius: 50%;
    border: none;
    background-color: #34404b;
}
.ui-slider .ui-slider-handle:focus{
    outline: none;
}
.ui-slider-range{
    background-color: #34404b;
}
.range-input-reoup{
    padding-top: 40px;
}
.range-input-reoup input{
    background-color: #edf0f2;
}
/* category-wrap end *
/* CATEGORY STYLES END */
/* PRODUCT STYLE START */
.btn-radius {
    border-radius: 50px 50px;
}
.product-title.title {
    margin-bottom: 30px;
}
.product-subtitle.subtitle{
    margin-bottom: 40px;
}
.product-subtext.subtext{
    margin-bottom: 40px;
}
.size-radio input[type="radio"]{
    display: none;
}
.product-wrap{
    padding: 100px 125px ;
    background-color: #fff;
}
.product-carousel {
    width: 330px;
}
.chose-size span{
    margin-right: 40px;
}
.size-radio label{
    font-size: 14px;
    color: #34404b;
    font-family: 'Harmonia_semibold';
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.size-radio + .size-radio{
    margin-left: 20px;
}

.quantity span{
    margin-right: 22px;
}
.order-form{
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
.order-now {
    padding: 40px 0;
}
.product-price{
    margin-right: auto;
    font-family: 'Harmonia_black';
    font-size: 20px;
}
.product-share{
    margin-right: 15px;
}
.product-share.item-controls li + li{
    margin-left: 30px;
}
.order-now input.order-now-btn{
    font-size: 18px;

}
.product-item{
    padding-top: 117px;
}
/* PRODUCT STYLE END */
/* MAIN STYLES END */
/* ALL STYLES END*/